@import '../../styles/variables.scss';

.dropdown{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 10px;
    &_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $saumon;
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
        line-height: 142.6%;
        position:relative;
        z-index:1;
        cursor: pointer;
        font-size: $xs;
        @include tab-breakpoint {
            font-size: $s;
        }
        @include desktop-breakpoint {
            font-size: $m;
        }
    }
    &_svg{
        transition: all 0.2s ease-in-out;
        width: $xs;
        @include tab-breakpoint {
            width: $s;
        }
        @include desktop-breakpoint {
            width: $m;
        }
    }
    .rotate {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }
    &_content{
        background-color: #F7F7F7;
        border-radius: 0px 0px 10px 10px;
        font-size: $xs;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        padding: 0px 20px;
        max-height: 0;
        overflow: hidden;
        line-height: 142.6%;
        color: #FF6060;
        transition: 
            visibility 0.5s ease-in-out, 
            opacity 0.5s ease-in-out, 
            max-height 1s ease-in-out, 
            padding 0.5s ease-in-out;
        @include tab-breakpoint {
            font-size: $s;
        }
        @include desktop-breakpoint {
            font-size: $m;
        }
    }
    &_content_visible {
        max-height: 10000px;
        transition: max-height 0.5s ease-in-out;
        opacity:1;
        visibility: visible;
        padding: 20px;
    }
}